{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Crear post {% endblock %}

{% block body %}

{{ parent() }}

<div class="example-wrapper">
    {{ form(form) }}
</div>
{% endblock %}
